.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

submissions/scripts/08_sdf.R
submissions/scripts/16_reflection_of_reflection.R
submissions/scripts/18_not_a_grid.R
submissions/scripts/25_Yayoi_Kusama.R